.about{

    padding:120px 0;

}

.about-container{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:80px;

    align-items:center;

}

.image-box{

    width:350px;

    height:350px;

    margin:auto;

    border-radius:25px;

    background:linear-gradient(135deg,#2563EB,#38BDF8);

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:120px;

    color:white;

    box-shadow:0 20px 60px rgba(37,99,235,.4);

}

.about-content h2{

    font-size:3rem;

    margin-bottom:25px;

}

.about-content p{

    color:#CBD5E1;

    line-height:1.8;

    margin-bottom:30px;

}

.about-content li{

    margin-bottom:15px;

    list-style:none;

}