.contact-form{

display:flex;

flex-direction:column;

gap:20px;

max-width:700px;

margin:auto;

}

.contact-form input,

.contact-form textarea{

padding:18px;

border-radius:12px;

border:none;

background:#111827;

color:white;

}

.contact-form button{

padding:18px;

background:#2563EB;

color:white;

border:none;

border-radius:12px;

cursor:pointer;

transition:.3s;

}

.contact-form button:hover{

background:#38BDF8;

}
footer{

padding:40px;

text-align:center;

background:#050816;

color:#94A3B8;

}
@media(max-width:992px){

.hero-container,

.about-container{

grid-template-columns:1fr;

text-align:center;

}

.stats-container,

.events-grid,

.projects-grid,

.team-grid{

grid-template-columns:1fr 1fr;

}

}
@media(max-width:768px){

.nav-links{

display:none;

}

.stats-container,

.events-grid,

.projects-grid,

.team-grid{

grid-template-columns:1fr;

}

.hero-content h1{

font-size:3rem;

}

}